
h1,p {
    color:blueviolet;
    font-size: 60px;
}
#parrafo1{
    color: blue;
    font-size: 60px;
    text-align: center;
}

#parrafo2{
    color: red;
    font-size: 30px;
}

#id{
    color: brown;
}

.parrafoGenerico{
    color: green;
    font-size: 8px;
    text-align: center;
}

